# Archivos y carpetas generados por Python
__pycache__/
*.py[cod]
*.log

# Caché de Pytest
.pytest_cache/

# Entornos virtuales (si usás uno)
venv/
env/

# Configuraciones locales de VS Code
.vscode/

# Archivos del sistema (Windows/macOS)
.DS_Store
Thumbs.db
